<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" 
	  xmlns:layout="http://www.utraq.net.nz/thymeleaf/layout">
<head>
	
	<meta charset="ISO-8859-1">
	<title>Cadastro de Aluno</title>
</head>
<body>

	<h1>Cadastro de Aluno</h1>
	<form method="post">
		RA: <input type="text" value="" name="ra" /> <br>
		Nome: <input type="text" value="" name="nome" /> <br>
		Data: <input type="text" value="" name="data" /> <br>
		
		<button type="submit">Salvar</button>
	
	</form>

</body>
</html>