<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org/" 
      xmlns:layout="http://www.utraq.net.nz/thymeleaf/layout%22%3E
<head>

    <meta charset="ISO-8859-1">
    <title>Cadastro de Professor</title>
</head>
<body>

    <h1>Cadastro de Professor</h1>
    <form method="post">
        RP: <input type="text" value="" name="rp" /> <br>
        Nome: <input type="text" value="" name="nome" /> <br>
        Materia: <input type="text" value="" name="materia" /> <br>
        Data: <input type="text" value="" name="data" /> <br>

        <button type="submit">Salvar</button>

    </form>

</body>
</html>